body{
    margin: 0px;
    width: auto;
    height: auto;
    background-color: skyblue;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#header {
    background-color: blue;
    color: white;

}

#text-header {
    margin-left: 10px;
}

#main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo-ifrn {
    margin-left: 10px;
}

#title{
   position: relative;
   text-align: center;

   color: whitesmoke;
   font-size: 20pt;
   margin-left: 250px;

   
}

#search {
    position: relative;
    width: 200px;
    height: 20px;
    margin-top: 50px;
    margin-left: 500px;
    
}

#lupa{
    width: 15px;
    height: 15px;
    position: relative;
    top: 55px;
    right: 20px;
}



#first-box{
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 150px;
}

#content-f1{
    text-align: justify;
    margin-left: 10px;
    background-color: blue;
    color: white;
    width: 250px;
    text-align: center;
}

#content-f2{
    background-color: blue;
    position: relative;
    left: 100px;
    width: 750px;
    color: white;

 
}

.img-click{
    width: 15px;
    height: 15px;

}

#click1{
    margin-left: 550px;
}




#second-box{
    display: flex;
    flex-direction: row;
    margin-left: 150px;
}

#content-s1{
    background-color: blue;
    color: white;
    width: 200px;
    text-align: center;
    height: 100px;
}

.year{
    border-bottom: 2px whitesmoke solid;
}


#content-s2{
    background-color: blue;
    color: white;
    margin-left: 50px;
    width: 800px;
    height: 200px;
}









#footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: blue;
    color: whitesmoke;
}

#txt1-footer{
    margin-left: 20px;
}

#txt3-footer{
    margin-right: 20px;
}